<div class="loginBox nk-block-reds">
    <div class="login-img">
       <img src="http://localhost:8080/img/icon/icon.png"> 
    </div>

    <div class="login-form">
        <div class="username">
            用户名：<input class="username-input" id="login-username" type="text"></input>
        </div>
        <div class="password">
            密码：<input class="password-input" type="password" id="login-password"></input>
        </div>
    </div>
    <div class="login-button">
        登录
    </div>
</div>