<div class="loginBox nk-block-grey">
    <div class="login-img">
        <img src="http://localhost:8080/img/icon/icon.png"> 
    </div>
    <div class="login-form">
        <div class="username">
            <input class="username-input nk-input" id="signup-username" type="text" placeholder="用户名"></input>
        </div>

        <div class="usernick">
            <input class="username-input nk-input" id="signup-usernick" type="text"  placeholder="昵称"></input>
        </div>

        <div class="password ">
            <input class="password-input nk-input" type="password" id="signup-password"  placeholder="密码" ></input>
        </div>
        <div class="password">
            <input class="password-input nk-input" type="password" id="signup-repeat-password" placeholder="重复密码"></input>
        </div>
    </div>
    <div class="signup-button nk-button ">
        注册
    </div>
</div>