<div class="loginBox nk-block-red">
    <div class="login-img">
        <img src="http://localhost:8080/img/icon/icon.png"> 
    </div>
    <div class="login-form">
        <div class="username nk-input-box">
            <span class="nk-input-lable">用户名：</span>
            <input class="username-input nk-input" id="signup-username" type="text"></input>
        </div>

        <div class="usernick nk-input-box">
            <span class="nk-input-lable">昵称：</span>
            <input class="username-input nk-input" id="signup-usernick" type="text"></input>
        </div>

        <div class="password">
            <span class="nk-input-lable">密码：</span>
            <input class="password-input" type="password" id="signup-password"></input>
        </div>
        <div class="password">
            <span class="nk-input-lable">重复密码：</span>
            <input class="password-input" type="password" id="signup-repeat-password"></input>
        </div>
    </div>
    <div class="signup-button">
        注册
    </div>
</div>