<%
    User = Array2Object(User);
    var block = {
            className:"nk-block-blue nk-block-all left",
            attr:"data-ps-clickhref data-ps-clickhref data-ps-href=\""+"/user/"+User.UserID+"/show\"",
            icon:"smile-o",
            title:"作者 ： "+User.UserNick,
            subtitle:""
        }
%>

<div class="main clearfix">
    <div class="right-page left" data-am-sticky>
        <div class="main-title"><h1><%- Article.ArticleTitle %></h1></div>            
        <div class="main-blocks-left main-blocks left">
            <%- partial('./model/block',block) %>
        </div>
    </div>
    
    <div class="left-page left article-show">
        <%- partial('./article/article-content',{
            className:"nk-block-grey",
            title:Article.ArticleTitle,
            body:Article.ArticleContent
        })%>
    </div>
</div>