<div class="nk-article-content nk-block-blue <%- className %>">
    <div class="nk-article-content-title" >
        <%- title %>
    </div>
    <div class="nk-article-content-body">
        <%- body %>
    </div>
</div>