<div class="nk-article clearfix <%- className %>" <%- attr %> data-nk-article >
    <div class="nk-article-userhead left">
      <img src="http://www.nkutic.com.cn:8080/img/icon/user_head_default.png">  
    </div>
    <div class="nk-article-userdata left">
        <div class="nk-article-usernick"><%- userNick %></div>
        <div class="nk-article-title"><%- title %></div>
        <div class="nk-article-info">
        </div>
    </div>

    <div class="nk-article-operator">
        <div class="nk-article-edit nk-block-green" data-main-edit >编辑</div>
        <div class="nk-article-delete nk-block-red" data-main-delete>删除</div>
    </div>
</div> 