<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title><%- setting.siteName %></title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/amazeui.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/index.css">
</head>
<body>


<%- body %>


<script type="text/javascript" src="http://localhost:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/amazeui.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/components.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/index.js"></script>
</body>
</html>