<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>南开腾讯创新俱乐部</title>
    <link rel="stylesheet" type="text/css" href="http://www.nkutic.com.cn:8080/css/amazeui.css">
    <link rel="stylesheet" type="text/css" href="http://www.nkutic.com.cn:8080/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://www.nkutic.com.cn:8080/css/wangEditor.min.css">
</head>
<body>

<div class="background"></div>
<%- body %>
<div class="footer clearfix">
    <%- include ./index/footer.ejs %>
</div>

<script type="text/javascript" src="http://www.nkutic.com.cn:8080/js/jquery.min.js"></script>
<script type="text/javascript" src="http://www.nkutic.com.cn:8080/js/amazeui.min.js"></script>
<script type="text/javascript" src="http://www.nkutic.com.cn:8080/js/components.js"></script>
<script type="text/javascript" src="http://www.nkutic.com.cn:8080/js/md5.js"></script>
<script type="text/javascript" src="http://www.nkutic.com.cn:8080/js/wangEditor.min.js"></script>
<script type="text/javascript" src="http://www.nkutic.com.cn:8080/js/index.js"></script>
</body>
</html>